<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen django Antonio Romero Ostos</title>
</head>
<body>
    <h1>Este es nuestro home</h1>
    <p><a href="{% url 'ultimo_voto' 51 %}">Último voto del móvil</a></p>
    <p><a href="{% url 'votos_bajos' 19 %}">Votos bajos de un cliente</a></p>
    <p><a href="{% url 'clientes_sin_votos' %}">Clientes sin votos</a></p>
    <p><a href="{% url 'cuentas_bancarias' %}">Cuentas bancarias</a></p>
    <p><a href="{% url 'votos_altos_con_cuenta' %}">Votos altos con cuenta</a></p>
    <p><a href="{% url 'modelos_media_alta' %}">Modelos con media de votación alta</a></p>
    <p>----------------------------------------</p>
    <p><a href="{% url 'mostrar_nuevos' %}">Mostrar nuevos videojuegos</a></p>
    <p><a href="{% url 'buscar_fabricante' %}">Buscar fabricante de videojuegos</a></p>
    <p><a href="{% url 'videojuegos_sin_plataforma' %}">Videojuegos sin plataforma</a></p>
    <p><a href="{% url 'analisis_estudio' estudio_id=1 %}">Análisis por estudio</a></p>
</body>
</html>