<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Último Voto</h1>
    {% if votaciones %}
        <ul>
            {% for voto in votaciones %}
                <li>{{ voto.fecha_votacion }} - {{ voto.cliente.nombre }} votó por {{ voto.movil.modelo }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay votos registrados para este móvil.</p>
    {% endif %}
</body>
</html>